<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Search</title>
</head>
<body>
    <h1>Artist Search</h1>
    <form action="/search" method="post">
        {% csrf_token %}
        <input type="text" name="query" placeholder="search by artist name"/>
        <button>search</button>
    </form>
    <div>
    </div>
    <div class="results_area">
        {% if results %}
            <p>showing results for: "{{query}}" ({{count}} results)</p>
            <ul>
                {% for artist in results %}
                <li>{{artist}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if results|length == 0 and results != None %}
            <p>Sorry, we didn't find any artists matching "{{query}}"</p>
        {% endif %}
    </div>
    
</body>
</html>